:root { 
    --web-studio-black:#2F303A; 
    --web-studio-blue:#2196F3;  
    --web-studio-white:#fff; 
    --title:#212121; 
    --text:#757575; 
    --footer:rgba(255, 255, 255, 0.60); 
} 
.container{
    width: 1600px;
    padding: 0 15px ;
    margin: 0 15px ;
    outline: 2px solid red;
}
body{ 
    font-family: "Roboto", serif; 
    font-size: 14px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
    color: var(--title); 
} 
ul {
    list-style-type: none;
}
a { 
    text-decoration: solid; 
} 
ul,p,p,h2{
    margin: 0;
}
.header{
    padding-top: 24px;
    padding-bottom:225px ;
}
.logo{ 
    font-size: 26px; 
font-family: "Raleway", sans-serif; 
font-weight: 700; 
color: var(--web-studio-blue); 
letter-spacing: 0.78px; 
} 
/* .logo{ 
    color: var(--web-studio-blue); 
font-size: 26px; 
font-family: Raleway; 
font-weight: 700; 
letter-spacing: 0.78px; 
 
color: var(--title); 
font-size: 26px; 
font-family: Raleway; 
font-weight: 700; 
letter-spacing: 0.78px; 
 
} */ 
 
.header-link{ 
    color: var(--web-studio-blue); 
    font-weight: 500; 
} 
.header-link:hover{ 
    color: var(--text); 
} 
.header-link_number{ 
    color: var(--text); 
    font-size: 14px; 
font-weight: 500; 
letter-spacing: 0.28px; 
} 
.main .container{
    padding-bottom: 280px;
    outline: 2px dotted blue;
}
 
.section-hero{ 
    background-color: #2F303A; 
 
} 
.section-hero_title{ 
    font-weight: 900; 
    text-transform: uppercase; 
    text-align: center; 
    line-height: 13.6px; 
    letter-spacing: 2.64px; 
    color: var(--web-studio-white); 
} 
.button-hero{ 
    color: var(--web-studio-white); 
    font-size: 16px; 
    font-weight: 700; 
    letter-spacing: 0.96px; 
    width: 216px; 
    height: 50px; 
    background: #2196F3; 
    text-align: center; 
} 
 
.section-title{ 
    color: var(--title); 
    font-weight: 700; 
text-transform: uppercase; 
letter-spacing: 0.42px; 
} 
 
.section-description{ 
    color: var(--text); 
    font-size: 14px; 
font-weight: 400; 
line-height: 24px; 
letter-spacing: 0.42px; 
} 
.section-work_title{ 
    color: var(--title); 
    font-size: 36px; 
font-weight: 700; 
letter-spacing: 1.08px; 
} 
.our-team_item{ 
    color: var(--title); 
    font-size: 36px; 
font-weight: 700; 
letter-spacing: 1.08px; 
} 
.our-team_title{ 
    color: var(--title); 
font-size: 16px; 
font-weight: 500; 
letter-spacing: 0.48px; 
} 
.our-team_description{ 
    color: var(--text); 
font-size: 16px; 
font-family: Roboto; 
font-weight: 400; 
letter-spacing: 0.48px; 
} 

.footer .container{
    padding:60px 15px;
}
 
.footer-bg{ 
    background-color: #212121; 
    outline: 2px double blueviolet;
} 
.footer-link{ 
    color: var(--web-studio-white); 
    font-size: 14px; 
font-weight: 400; 
line-height: 24px; 
letter-spacing: 0.42px; 
} 
.footer-info{ 
    color: var(--footer); 
    font-size: 14px; 
font-weight: 400; 
line-height: 24px; 
letter-spacing: 0.42px; 
}